.fondo-provedores{
    background-image: url('C:\Users\danie\OneDrive\Escritorio\frontend para vitarrico\proyectointegrador2\public\fondo-proveedores.jpg');
    width: 100vw;
    height: 100vh;
}
.empresas{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}